<markdown clipboard lineNumbers [src]="info"></markdown>
<button (click)="addColumn()">Add Column</button>

<div class="kanban-container" style="height: 400px">
  <div *ngFor="let column of columns" class="kanban-column">
    {{ column.name }}
    <button (click)="removeColumn(column.id)">X</button>
    <!-- Add task cards here -->
  </div>
</div>
<markdown clipboard lineNumbers [src]="this.details"></markdown>
<h3>Component:</h3>
<markdown clipboard lineNumbers [src]="this.component"></markdown>
<h3>HTML Template:</h3>
<markdown clipboard lineNumbers [src]="this.template"></markdown>
<h3>Styling:</h3>
<markdown clipboard lineNumbers [src]="this.styles"></markdown>