<mat-toolbar color="primary">
  <div style="display: flex"></div>
  <div
  class="sidenav-button"
    (click)="toggleSidenav()"
    style="
      cursor: pointer;
      border-style: solid;
      padding-top: 3px;
      padding-bottom: 1px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 25%;
      border-width: 1px;
    "
  >
    <fa-icon [icon]="faBars"></fa-icon>
  </div>
  <div routerLink="/intro" style="cursor: pointer; margin-left: 12px">
    TypeScript Projects
  </div>
  <span class="spacer" style="flex: 1"></span>
  <div (click)="openGitInNewTab()" style="cursor: pointer">
    <fa-icon [icon]="faGitHub" size="xl"></fa-icon>
  </div>
</mat-toolbar>
